<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Register</h2>
      <div class="card my-5">

        <div class="card-body cardbody-color p-lg-5">

          <div class="text-center">
            <img src="https://click-storm.ru/i/ava/thumbs/5/56170.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                 width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input [(ngModel)]="registrationModel.email" type="text" class="form-control" id="Email" aria-describedby="emailHelp"
                   placeholder="email" required>
          </div>
          <div class="mb-3">
            <input [(ngModel)]="registrationModel.password" type="password" class="form-control" id="password" placeholder="password" required>
          </div>
          <div class="mb-3">
            <input [(ngModel)]="registrationModel.userName" type="text" class="form-control" id="UserName" placeholder="user name" required>
          </div>
          <div class="mb-3">
            <input [(ngModel)]="registrationModel.firstName" type="text" class="form-control" id="firstName" placeholder="first name" required>
          </div>
          <div class="mb-3">
            <input [(ngModel)]="registrationModel.lastName" type="text" class="form-control" id="lastName" placeholder="last name" required>
          </div>
          <div class="text-center"><button (click)="register(registrationModel)" type="submit" class="btn btn-color px-5 mb-5 w-100">Sign up!</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Already
            Registered? <a href="/login" class="text-dark fw-bold"> Log in!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
